.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #333;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #333;
  border-color: #333;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.15s ease;
}

.button:hover {
  background-color: #555;
}

.header {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.aboutLink {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.aboutLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.aboutLink:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.aboutLink:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.logo {
  height: 1em;
}

.logoContainer {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logoImage {
  width: 100px;
  height: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.outputCard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.outputCard h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.logTextarea {
  width: 100%;
  height: 200px;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  resize: vertical;
  overflow-y: auto;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}

.logTextarea:focus {
  outline: none;
  border-color: #333;
}

.select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: 1rem;
  transition: border-color 0.15s ease;
}

.select:focus {
  outline: none;
  border-color: #333;
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}